
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 
}

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 30px;
    width: 70px;
    margin: 20px 0 0 50px;
}

.empresa{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    line-height: 30px;
}

.feature-modal{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.356);
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    position:fixed;
}

.conta{
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    line-height: 30px;
}

p{
    margin-left: 30px;
    cursor: pointer;
    color: rgb(95, 95, 95);
}


.botao{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    margin-top: 10px;
}

:hover.botao{
    border: 1px solid rgb(0, 0, 0);
}


.botao2{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 10px;
    width: 120px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
}

:hover.botao2{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.tudo-com-imagens{
    display: block;
    margin-left: 170px;
    width: 90vw;
}

main{
    width: 90vw;
    display: flex;
    font-size: 30px;
}

.texto{
    font-size: 20px;
    margin: 0;
    cursor: auto;
}

.foto-grande{
    width: 350px;
    margin-left: 200px;
}

.imagens{
    margin-top: 70px;
}

.clientes{
    margin-left: 20px;
}